:root {
  // text-color:
  --title-color: #10100e;
  --text-color: #000000;

  //btn
  --active-btn-doctor: #5a58cf;
  --active-btn-coach: #408bfc;
  --active-btn-app: #268653;
  --active-btn-meditacion: #f9d270;
  --active-btn-community: #fbcaca;

  --main-button: #10100e;

  //   font-text:
  --title-font: 'Greycliff CF', bold;
  --text-font: 'Quincy CF', normal;
}
