<div class="wrapper container">
  <div class="descrip-fix">
    <div class="descrip-section">
      <div>
        <h1 class="descrip-title">The Found Program</h1>
      </div>
      <div>
        <p class="descrip-text">
          There’s no one-and-done solution when it comes to sustainable weight
          care. With Found, five key factors come together on your journey to
          reach your goals
        </p>
      </div>
      <div>
        <ul class="descrip-btn-list">
          <li>
            <a class="descrip-btn-item" href="#section-one">
              <span class="icon-doctor"></span> Doctor</a
            >
          </li>
          <li>
            <a class="descrip-btn-item" href="#section-two"
              ><span class="icon-coach"></span> Coach</a
            >
          </li>
          <li>
            <a class="descrip-btn-item" href="#section-three"
              ><span class="icon-app"></span> App</a
            >
          </li>
          <li>
            <a class="descrip-btn-item" href="#section-four"
              ><span class="icon-medic"></span> Medication</a
            >
          </li>
          <li>
            <a class="descrip-btn-item" href="#section-five"
              ><span class="icon-commun"></span> Community</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <main class="slide-section">
    <div class="dasd">
      <section class="section section-one" id="section-one">
        <div class="section-text">
          <div class="modal-text">
            <img
              class="icon-krest"
              src="./images/icons-svg/krest.svg"
              alt="krest"
              width="27"
              height="27"
            />
            <h2 class="modal-title">Board-certified doctors</h2>
          </div>
          <div class="modal-text">
            <img
              class="icon-purple"
              src="./images/icons-svg/purple.svg"
              alt="галочка"
            />
            <p class="modal-doctor">
              Board-certified and specifically trained on weight loss medication
            </p>
          </div>
          <div class="modal-text">
            <img
              class="icon-purple"
              src="./images/icons-svg/purple.svg"
              alt="галочка"
            />
            <p class="modal-doctor">
              Virtual appointments, no in-person office visits required
            </p>
          </div>
          <div class="modal-text">
            <img
              class="icon-purple"
              src="./images/icons-svg/purple.svg"
              alt="галочка"
            />
            <p class="modal-doctor">
              Found doctors customize the program to your specific needs
            </p>
          </div>
        </div>
        <div class="section-btn">
          <button class="modal-btn">Continue</button>
          <p class="under-btn">Starting at $99/month</p>
        </div>
      </section>

      <section class="section section-two" id="section-two">
        <div class="section-text">
          <div class="modal-text">
            <img
              class="modal-kros"
              src="./images/icons-svg/modal-kros.svg"
              alt="krest"
              width="27"
              height="27"
            />
            <h2 class="modal-title">Personal health coach</h2>
          </div>
          <div class="modal-text">
            <img
              class="icon-blue"
              src="./images/icons-svg/blue.svg"
              alt="галочка"
            />
            <p class="modal-coach">
              Coaches tailor your movement and nutrition plan to fit your needs
            </p>
          </div>
          <div class="modal-text">
            <img
              class="icon-blue"
              src="./images/icons-svg/blue.svg"
              alt="галочка"
            />
            <p class="modal-coach">
              On-demand availability to answer all of your questions
            </p>
          </div>
          <div class="modal-text">
            <img
              class="icon-blue"
              src="./images/icons-svg/blue.svg"
              alt="галочка"
            />
            <p class="modal-coach">
              Build sustainable habits with the help of your coach
            </p>
          </div>
        </div>
        <div class="section-btn">
          <button class="modal-btn">Continue</button>
          <p class="under-btn">Starting at $99/month</p>
        </div>
      </section>

      <section class="section section-three" id="section-three">
        <div class="section-text">
          <div class="modal-text">
            <img
              class="icon-apps"
              src="./images/icons-svg/modal-phon.svg"
              alt="app"
            />
            <h2 class="modal-title">Found mobile app</h2>
          </div>
          <div class="modal-text">
            <img
              class="icon-green"
              src="./images/icons-svg/green.svg"
              alt="галочка"
            />
            <p class="modal-app">
              Keep track of your progress by logging your routines
            </p>
          </div>
          <div class="modal-text">
            <img
              class="icon-green"
              src="./images/icons-svg/green.svg"
              alt="галочка"
            />
            <p class="modal-app">
              Coaches use logged routines to personalize your weight loss
              program
            </p>
          </div>
          <div class="modal-text">
            <img
              class="icon-green"
              src="./images/icons-svg/green.svg"
              alt="галочка"
            />
            <p class="modal-app">Integrates with Apple Health and Google Fit</p>
          </div>
        </div>
        <div class="section-btn">
          <button class="modal-btn">Continue</button>
          <p class="under-btn">Starting at $99/month</p>
        </div>
      </section>

      <section class="section section-four" id="section-four">
        <div class="section-text">
          <div class="modal-text">
            <img
              class="icon-tablet"
              src="./images/icons-svg/modal-tablet.svg"
              alt="tablet"
            />
            <h2 class="modal-title">Prescription medication</h2>
          </div>
          <div class="medical-description">
            <p class="medical-description--text">
              Our medical team provides access to the widest set of
              prescriptions on the market, including (but not limited to):
            </p>
            <ul class="info-list">
              <li class="info-item">
                Phentermine
                <span class="info-svg"
                  ><img src="./images/icons-svg/info.svg" alt="info"
                /></span>
              </li>
              <li class="info-item">
                GLP-1
                <span class="info-svg"
                  ><img src="./images/icons-svg/info.svg" alt="info"
                /></span>
              </li>
              <li class="info-item">
                Metformin
                <span class="info-svg"
                  ><img src="./images/icons-svg/info.svg" alt="info"
                /></span>
              </li>
            </ul>
          </div>
          <div class="modal-text">
            <img
              class="icon-yellow"
              src="./images/icons-svg/green.svg"
              alt="галочка"
            />
            <p class="modal-medic">
              Work directly with our doctors to find the medication right for
              you
            </p>
          </div>
          <div class="modal-text">
            <img
              class="icon-yellow"
              src="./images/icons-svg/green.svg"
              alt="галочка"
            />
            <p class="modal-medic">Medication delivered to your door</p>
          </div>
          <div class="modal-text">
            <img
              class="icon-yellow"
              src="./images/icons-svg/green.svg"
              alt="галочка"
            />
            <p class="modal-medic">No insurance requirements</p>
          </div>
        </div>
        <div class="section-btn">
          <button class="modal-btn">Continue</button>
          <p class="under-btn">Starting at $99/month</p>
        </div>
      </section>

      <section class="section section-five" id="section-five">
        <div class="section-text">
          <div class="modal-text">
            <img
              class="icon-community"
              src="./images/icons-svg/message.svg"
              alt="community"
            />
            <h2 class="modal-title">Supportive community</h2>
          </div>
          <div class="modal-text">
            <img
              class="icon-red"
              src="./images/icons-svg/red.svg"
              alt="галочка"
            />
            <p class="modal-heart">
              Celebrate your journey with thousands of other members
            </p>
          </div>
          <div class="modal-text">
            <img
              class="icon-red"
              src="./images/icons-svg/red.svg"
              alt="галочка"
            />
            <p class="modal-heart">
              Share recipes, weight loss milestones, and roadblocks
            </p>
          </div>
          <div class="modal-text">
            <img
              class="icon-red"
              src="./images/icons-svg/red.svg"
              alt="галочка"
            />
            <p class="modal-heart">
              The Found team is actively involved to make sure you have the best
              experience
            </p>
          </div>
        </div>
        <div class="section-btn">
          <button class="modal-btn">Continue</button>
          <p class="under-btn">Starting at $99/month</p>
        </div>
      </section>
    </div>
  </main>
</div>
